<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Yemen National Union</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/projectAqeel.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
             
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                  @*  <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>*@

                    <ul id="nav-tabs" class="navbar-nav   ">
		
		 <li class="nav-item dropdown  active" >
        <a class="nav-link dropdown-toggle " href="#"  data-bs-toggle="dropdown" role="button" aria-expanded="false">about ithad</a>

 <ul class="dropdown-menu  " aria-labelledby="navbarNavDropdown">
     <li class="dropdown-item"><a class="dropdown-item " href="#" >Departments and facilities of the General Union</a>

			  	 <ul class="submenu dropdown-menu">
              <li><a class="dropdown-item" href="#">departments and facilities</a></li>
			  <li><a class="dropdown-item" href="#"> foundation</a></li>
			   <li><a class="dropdown-item" href="#">Vision, Mission and Objective </a></li>
			   <li><a class="dropdown-item" href="#"> Board of Directors</a></li>
			   <li><a class="dropdown-item" href="#"> Affiliate Membership</a></li>
			   <li><a class="dropdown-item" href="#">departments and divisions</a></li>
			   <li><a class="dropdown-item" href="#">Branches in the governorates</a></li>
            </ul>
			
			</li>
			
              <li><a class="dropdown-item" href="#">About the Agricultural Cooperative Federation</a></li>
              <li><a class="dropdown-item" href="#">About the Industrial Cooperative Federation</a></li>
			  <li><a class="dropdown-item" href="#">About the Fisheries Cooperative Union</a></li>
			  <li><a class="dropdown-item" href="#">About the Consumer Cooperative Union</a></li>
			  
            </ul>
          
      </li>
	  
	  
	  	  <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#"  data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
associations</a>

 <ul class="dropdown-menu" aria-labelledby="navbarNavDropdown">
             

			 <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#"  data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
The joint general assemblies in the governorates</a>

 <ul class="submenu  dropdown-menu" aria-labelledby="navbarNavDropdown">
              <li><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Joint General Assembly of the Secretariat </a>
			  
			  
			   <ul class="submenu  dropdown-menu" aria-labelledby="navbarNavDropdown">
              <li><a class="dropdown-item" href="#"> </a> </li>
            
			  <li><a class="dropdown-item" href="#"> Sanhan common public</a></li>
			   <li><a class="dropdown-item" href="#">  Sanhan common public</a></li>
			   <li><a class="dropdown-item" href="#">  Sanhan common public</a></li>
			   <li><a class="dropdown-item" href="#"> Sanhan common public</a></li>
			 
			   
            </ul>
			  
			  
			   </li>
            
			  <li><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">The Joint General Assembly in Sana'a </a>
			  
			  
			  <ul class="submenu  dropdown-menu" aria-labelledby="navbarNavDropdown">
              <li><a class="dropdown-item" href="#"> </a> </li>
            
			  <li><a class="dropdown-item" href="#"> Sanhan common public</a></li>
			   <li><a class="dropdown-item" href="#">  Sanhan common public</a></li>
			   <li><a class="dropdown-item" href="#"> Sanhan common public</a></li>
			   <li><a class="dropdown-item" href="#">  Sanhan common public</a></li>
			 
			   
            </ul>
			  
			  
			   </li>
			   
			   <li><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> The Joint General Assembly in Hodeidah  </a>
			  
			  <ul class="submenu dropdown-menu" aria-labelledby="navbarNavDropdown">
              <li><a class="dropdown-item" href="#"> </a> </li>
            
			  <li><a class="dropdown-item" href="#">   Sanhan common public</a></li>
			   <li><a class="dropdown-item" href="#">   Sanhan common public</a></li>
			   <li><a class="dropdown-item" href="#">   Sanhan common public</a></li>
			   <li><a class="dropdown-item" href="#">   Sanhan common public</a></li>
			 
			   
            </ul>
			  
			   </li>
			   
			   
			   <li><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> The Joint General Assembly in Al-Mahra </a>
			   
			   <ul class="submenu dropdown-menu" aria-labelledby="navbarNavDropdown">
              <li><a class="dropdown-item" href="#"> </a> </li>
            
			  <li><a class="dropdown-item" href="#">   Sanhan common public</a></li>
			   <li><a class="dropdown-item" href="#">   Sanhan common public</a></li>
			   <li><a class="dropdown-item" href="#">   Sanhan common public</a></li>
			   <li><a class="dropdown-item" href="#">   Sanhan common public</a></li>
			 
			   
            </ul>
			   
			   
			   </li>
			   
			  
            </ul>
			
			</li>
			
              <li><a class="dropdown-item" href="#"> multi-purpose cooperative societies in the districts</a></li>
			  
              <li><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Specialized Quality Societies</a>
			  
			  <ul class="submenu dropdown-menu" aria-labelledby="navbarNavDropdown">
              <li><a class="dropdown-item" href="#">beekeepers association</a> </li>
            
			  <li><a class="dropdown-item" href="#">Grain Association </a></li>
			  <li><a class="dropdown-item" href="#">coffee association</a> </li>
			  <li><a class="dropdown-item" href="#">  coffee association</a></li>
			   <li><a class="dropdown-item" href="#">  coffee association</a></li>
			   <li><a class="dropdown-item" href="#"> coffee association</a></li>
			   <li><a class="dropdown-item" href="#">  coffee association</a></li>
			     <li><a class="dropdown-item" href="#">  coffee association</a></</li>  
            </ul>
			  </li>
			  
            </ul>     
      </li>
	  
	  
	  
	  
		 <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Projects</a>
          <ul class="dropdown-menu" aria-labelledby="navbarNavDropdown">

       <li><a class="dropdown-item" href="#">grain projects </a></li>
              <li><a class="dropdown-item" href="#">vegetable projects</a></li>
			  <li><a class="dropdown-item" href="#">legume projects</a></li>
			  	  <li><a class="dropdown-item" href="#">Fruit Projects</a></li>
			  	  <li><a class="dropdown-item" href="#">milk projects</a></li>
			  	  <li><a class="dropdown-item" href="#">meat projects</a></li>
			  	  <li><a class="dropdown-item" href="#">fish projects</a></li>
				  	
				    <li><a class="dropdown-item" href="#">animal products projects</a></li>
				    <li><a class="dropdown-item" href="#">spices projects</a></li>
  <li><a class="dropdown-item" href="#">  Nuts projects</a></li>
  <li><a class="dropdown-item" href="#">oils projects</a></li>
 <li><a class="dropdown-item" href="#">Spinning and Weaving Projects</a></li>
 <li><a class="dropdown-item" href="#">Industries projects</a></li>
 <li><a class="dropdown-item" href="#">creative projects</a></li>

			             </ul>
      </li>
			
			<li class="nav-item dropdown pn-ProductNav_Link">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Activities</a>
      <ul class="dropdown-menu" aria-labelledby="navbarNavDropdown">

       <li><a class="dropdown-item" href="#">   Conferences</a></li>
	      <li><a class="dropdown-item" href="#"> Workshops </a></li>
	      <li><a class="dropdown-item" href="#"> festivals  </a></li>
	      <li><a class="dropdown-item" href="#"> Training courses  </a></li>
	      <li><a class="dropdown-item" href="#">cultural evenings   </a></li>
	      <li><a class="dropdown-item" href="#"> Field visits  </a></li>
		     <li><a class="dropdown-item" href="#">emergency programs  </a></li>
		    
		  
		 
	   	</ul> 

      </li>
			
			
			 
	   <li class="nav-item dropdown pn-ProductNav_Link">
        <a class="nav-link" href="#"  >
contractual</a>
        
      </li>
	  
	   <li class="nav-item pn-ProductNav_Link">
        <a class="nav-link " href="#" >
Single window</a>
        
      </li>
	  
	   <li class="nav-item dropdown pn-ProductNav_Link">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
rules+regulations</a>
        <ul class="dropdown-menu" aria-labelledby="navbarNavDropdown">

       <li><a class="dropdown-item" href="#">  bee systems</a></li>
	      <li><a class="dropdown-item" href="#">  Basic Regulations of the Beekeepers Cooperative Association </a></li>
	      <li><a class="dropdown-item" href="#"> Cooperative Societies System  </a></li>
	      <li><a class="dropdown-item" href="#">Procedure Manual for Human Resources  </a></li>
	      <li><a class="dropdown-item" href="#">Procedural Guide to Combating Money Laundering   </a></li>
	      <li><a class="dropdown-item" href="#"> Volunteer management policy  </a></li>
		     <li><a class="dropdown-item" href="#">Whistleblowing Policy and Protection of Reporters   </a></li>
		    		     <li><a class="dropdown-item" href="#">Document retention and destruction policy  </a></li>
		     <li><a class="dropdown-item" href="#">Conflict of interest policy   </a></li>
		     <li><a class="dropdown-item" href="#">The policy of the matrix of powers between the board of directors and the executive management   </a></li>

		  	     <li><a class="dropdown-item" href="#">List of gifts and donations</a></li>
		 
	   	</ul> 
      </li>


	   <li class="nav-item pn-ProductNav_Link" >
        <a class="nav-link " href="#" aria-haspopup="true" aria-expanded="false" >
Organizational Structure</a>
              </li>
	  
	  <li class="nav-item pn-ProductNav_Link">
        <a class="nav-link " href="#"  aria-haspopup="true" aria-expanded="false">
the shop</a>

      </li>
	  
	  <li class="nav-item pn-ProductNav_Link">
        <a class="nav-link " href="#" >
Jobs</a>
       
      </li>
	  
	  <li class="nav-item pn-ProductNav_Link">
        <a class="nav-link " href="#" >
Follow-up</a>
        
      </li>
	  
	  <li class="nav-item dropdown pn-ProductNav_Link">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Planning, studies and research</a>
        <ul class="dropdown-menu" aria-labelledby="navbarNavDropdown">

       <li><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">   Planning</a>
	   			  <ul class="submenu dropdown-menu" aria-labelledby="navbarNavDropdown">
	   
	      <li><a class="dropdown-item" href="#"> strategic </a></li>
	      <li><a class="dropdown-item" href="#"> executive  </a></li>
	      <li><a class="dropdown-item" href="#"> operational  </a></li>
		  </ul>
		  </li>
	      <li><a class="dropdown-item" href="#">studies   </a></li>
	      <li><a class="dropdown-item" href="#"> Research  </a></li>
		     <li><a class="dropdown-item" href="#">Statistics   </a></li>
		    
		  
		 
	   	</ul> 
      </li>


	   <li class="nav-item pn-ProductNav_Link">
        <a class="nav-link " href="#" >
news</a>
        
      </li>
	  
	   <li class="nav-item pn-ProductNav_Link">
        <a class="nav-link " href="#" >
call us</a>
       
      </li>
           
        </ul>


		    <!-- bootstrap 5 js -->

    <!-- Bootstrap Nav Paginator -->
    <script src="~/js/bootstrap-nav-paginator.min.js"></script>

    <!-- JS init here -->
    <script>
        //Init tabs example with 5 items per page & the class "nav-link" for navigation buttons
        document.querySelector("#nav-tabs").BsNavPaginator(10, "nav-link");

        //Init pills example with 5 items per page & the class "nav-link" for navigation buttons
        document.querySelector("#nav-pills").BsNavPaginator(10, "nav-link");
    </script>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">


            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - projectAqeel - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
